html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #6d6c6c;
}

/* Center empty space */
.center-space {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 850px;
  height: 400px;
  transform: translate(-50%, -50%);
  border: 2px dashed #bbb;
  color:black;
  z-index: 2;
  background: #fff;
}

.center-content {
  padding: 10px;
}

/* Vertical lines */
.vertical {
  position: absolute;
  text-align: center;
  background: #292b2c;
  border-radius: 8px;
  font-weight: bold;
  z-index: 1;
  writing-mode: vertical-rl;
  letter-spacing: 2px;
  white-space: nowrap;
  padding: 10px 0px 10px 0px;
  opacity: 0;
}

/* Bottom to Top */
.btt {
  animation: vertical-move-btt 15s linear infinite;
  transform-origin: bottom;
}

/* Top to Bottom */
.ttb {
  animation: vertical-move-ttb 15s linear infinite;
  transform-origin: top;
}

@keyframes vertical-move-btt {
  0% {
    top: 100vh;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    top: -100vh;
    opacity: 1;
  }
  100% {
    top: -200vh;
    opacity: 0;
  }
}

@keyframes vertical-move-ttb {
  0% {
    top: -100vh;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    top: 100vh;
    opacity: 1;
  }
  100% {
    top: 200vh;
    opacity: 0;
  }
}

/* Horizontal lines */
.horizontal {
  position: absolute;
  text-align: center;
  background: #292b2c;
  border-radius: 8px;
  font-weight: bold;
  z-index: 1;
  writing-mode: horizontal-tb;
  letter-spacing: 2px;
  white-space: nowrap;
  padding: 0px 10px 0px 10px;
  opacity: 0;
}

/* Right to Left */
.rtl {
  animation: horizontal-move-rtl 15s linear infinite;
  transform-origin: left;
}

/* Left to Right */
.ltr {
  animation: horizontal-move-ltr 15s linear infinite;
  transform-origin: right;
}

@keyframes horizontal-move-rtl {
  0% {
    left: 100vw;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    left: -100vw;
    opacity: 1;
  }
  100% {
    left: -200vw;
    opacity: 0;
  }
}

@keyframes horizontal-move-ltr {
  0% {
    left: -100vw;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    left: 100vw;
    opacity: 1;
  }
  100% {
    left: 200vw;
    opacity: 0;
  }
}

/* Positioning for verticals */
.v1 { left: 5.5vw;  animation-delay: 0s; }
.v2 { left: 8vw; animation-delay: 1s; }
.v3 { left: 10.5vw;  animation-delay: 2s; }
.v4 { left: 13vw;animation-delay: 3s; }
.v5 { left: 82.5vw;animation-delay: 3s; }
.v6 { left: 85vw;  animation-delay: 2s; }
.v7 { left: 87.5vw;animation-delay: 1s; }
.v8 { left: 90vw;  animation-delay: 0s; }

/* Positioning for horizontals */
.h1 { top: 0vh;   animation-delay: 0s; }
.h2 { top: 5vh;   animation-delay: 1s; }
.h3 { top: 10vh;  animation-delay: 2s; }
.h4 { top: 80vh;  animation-delay: 2s; }
.h5 { top: 85vh;  animation-delay: 1s; }
.h6 { top: 90vh;  animation-delay: 0s; }